{{#partial "title"}}
    Sighting List Page
{{/partial}}

{{#partial "content"}}
    <div class="content" style="background-color:  #3d940a; background-size: cover; background-position: cover;">
        <nav class="navbar navbar-expand-lg scrolling navbar">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <span style="color: green;"></i><strong>The Wildlife Tracker App</i></strong></span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link border border-dark rounded" href="/"><span style="color: green;"><strong>HOME PAGE</strong></span> <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" href="/regular-animal-list"><span style="color: green;"><strong>REGULAR ANIMAL LIST</strong></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" href="/animal-list"><span style="color: green;"><strong>ENDANGERED ANIMALS LIST</strong></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" href="/sighting-list"><span style="color: green;"><strong>ANIMAL SIGHTING LIST</strong></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" href="/rangers-list"><span style="color: green;"><strong>RANGERS LIST</strong></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" href="/locations-list"><span style="color: green;"><strong>LOCATION LIST</strong></span></a>
                        </li>
                        <li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" style="color: green; border-color: white;" href="/add-animal"><strong>ADD REGULAR ANIMAL</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" style="color: green; border-color: white;" href="/add-endangered"><strong>ADD ENDANGERED</strong></a>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" style="color: green; border-color: white;" href="/add-sighting"><strong>ADD ANIMAL SIGHTING</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" style="color: green; border-color: white;"  href="/add-rangers"><strong>ADD WILDLIFE RANGER</strong>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border border-dark rounded" style="color: green; border-color: white;"  href="/add-locations"><strong>ADD A LOCATION</strong>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="table-container">
            <div class="table-column">
                {{#if sightings}}
                    <div class="table-responsive">
                        <table class="table table-bordered table-text light-grey text-left" id="sightingList">
                            <thead class="thead-green">
                            <tr>
                                <th><strong>ANIMAL CATEGORY:</strong></th>
                                <th><strong>ANIMAL NAME:</strong></th>
                                <th><strong>ANIMAL LOCATION:</strong></th>
                                <th><strong>RANGERS NAME:</strong></th>
                                <th><strong>SIGHTING TIME:</strong></th>
                                <th><strong>DELETE FUNCTION:</strong></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each sightings}}
                                <tr>
                                    <td><strong>{{animal_category}}</strong></td>
                                    <td><strong>{{animal_name}}</strong></td>
                                    <td>
                                        ZONES_NAME: <strong>{{location}}</strong><br>
                                        ZONES_DESCRIPTION: {{zones_descriptions}}<br>
                                        ZONES_QUADRANT: {{zones_quadrant}}
                                    </td>
                                    <td>
                                        RANGERS_NAME:<strong>{{rangers_name}}</strong><br>
                                        BADGE_NUMBER:<strong>{{badge_number}}</strong><br>
                                        RANGERS_CONTACT:<strong>{{rangers_contact}}</strong><br>
                                    </td>
                                    <td>{{sighting_time}}</td>
                                    <td>
                                        <a class="btn aqua delete-btn" title="delete {{animal_name}}"
                                           type="button" href="/delete-animal_name/:animal_name{{animal_name}}"
                                           onclick="confirmDelete('{{animal_name}}')">
                                            <strong>DELETE</strong>
                                        </a>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                {{else}}
                    <div class="no-data">
                        <strong>There is no sighting that has currently been reported or recorded. Please Add Animal Sighting
                            using the link above.</strong>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
{{/partial}}
{{>layout.hbs}}